.benefits {
    display: flex;
}


.benefits-list {
    display: flex;

    @include tablet {
        flex-wrap: wrap;
    }
}



.benefits-list__item {
    width: 270px;
    height: 224px;
    margin-right: 30px;
    margin-bottom: 30px;

    &:last-child {
        margin-right: 0;
    }

    @include tabletOnly {
        width: 354px;

        &:nth-child(2n) {
            margin-right: 0;
        }
    }


}

.benefits-list__icon {
    display: block;
    margin-bottom: 30px;
    padding: 25px 100px;
    width: 270px;
    height: 120px;

    background-color: #F5F4FA;
    border-radius: 4px;

    @include tabletOnly {
        width: 354px;
    }
}

.benefits-list__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-title-color);
}

.benefits-list__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}