:root {
    --primary-text-color: #757575;
    --primary-title-color: #212121;
    --primary-white-color: #FFFFFF;
    --primary-link-color: #AFB1B8;
    --active-color: #2196F3;
    --header-logo-color: #000000;
    --background-dark-color: #2F303A;
    --header-border-color: #ECECEC;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --footer-item-link: rgba(255, 255, 255, 0.1);
    --portfolio-filter-button-color: #F5F4FA;
    --portfolio-filter-button-text-color: rgba(33, 33, 33, 1);
    --background-section-team: #F5F4FA;
}
